{% extends 'core/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'content/css/content_style.css' %}">
{% endblock %}

{% block title %}Contenido | Lista{% endblock %}

{% block contenido %}
    <header>
        <h1>Lista de Contenido</h1>
    </header>
    {% include 'content/includes/contenido_menu.html' %}
    <div class="container">
        {% for contenido in page_obj %}
            <div class="content-container">
                <h2>{{contenido.title}}</h2>
                <img src="{{contenido.image.url}}" alt="" class="img-details">
                <div class="text-conter">
                    <p>{{contenido.content}}</p>
                    <p>
                        <a href="{% url 'detail' contenido.id contenido.title|slugify %}">Leer mas</a> |
                        {% if user.is_authenticated %}
                        <a href="{% url 'edit' contenido.id contenido.title|slugify %}">Editar</a> |
                        <a href="{% url 'delete' contenido.id %}">Eliminar</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            
        {% endfor %}

        <hr class="hr-details">

        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first | </a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}"> | last &raquo;</a>
            {% endif %}
        </div>
    </div>
    
{% endblock %}