{% extends 'core/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'content/css/content_detail_style.css' %}">
{% endblock %}

{% block title %}{{object.title}}{% endblock %}

{% block contenido %}
    <header>
            <h1>Content Detail</h1>
    </header>
    {% include 'content/includes/contenido_menu.html' %}
    <div class="container">
        <h2>{{object.title}}</h2>
        <div class="content-box">   
            <img src="{{object.image.url}}" alt="">
            <p>{{object.content}}</p>
        </div>
        <p class="content-links">
            <a href="{% url 'edit' contenido.id contenido.title|slugify %}">Editar</a> |
            <a href="{% url 'delete' contenido.id %}">Eliminar</a>
        </p>
        
    </div>
{% endblock %}