.nav-container {
    /* border: 1px black solid; */
    padding-left: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    background: gainsboro;
}
.nav-container a {
    text-decoration: none;
    padding-right: 20px;
    /* padding: 30px 10px 30px 10px; */
    font-size: 20px;
    color: black;
}
.logout-form-container {
    /* border: 1px darkblue solid; */
    margin-left: auto;
    padding-right: 25px;
}
.logout-form-container input{
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.login-details {
    margin-left: auto;
    font-style: normal;
    font-weight: bold;
}