html, body {
    margin: 0;
    min-height: 100%;
}

.container{
    display: flex;
    height: 100%;
}
.flex-bg{
    flex-grow: 4;
    text-align: center;
    align-content: center;
    background: #015ae0;
}
h1{
    color: white;
    font-size: 50px;
}
.login-section{
    background: white;
    flex-grow: 3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: space-evenly; */
    padding-left: 100px;
}
.header {
    margin-top: 70px;
}
h2 {
    font-size: 35px;
}
p {
    font-size: 20px;
}
.form-container {
    margin-top: 20px;
}
.input-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
}
.form-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.label-details {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    font: bold;
}
.input-details{
    height: 30px;
    width: 200px;
    font-size: 15px;
}
.icon-details {
    margin-right: 10px;
}
.button-details {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1% 5%;
    background: #015ae0;
    color: white;
    font-size: 20px;
    font: bold;
}