{% load static %}
<link rel="stylesheet" href="{% static 'content/css/content_nav_style.css' %}">

<nav class="nav-container">
    <a href="{% url 'home' %}"><i>Home</i></a>
    <a href="{% url 'contenidos' %}"><i>Listar Contenido</i></a>
    {% if user.is_authenticated %}
    <a class="hola" href="{% url 'create' %}"><i>Crear Contenido</i></a>
    <form class="logout-form-container" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
    {% else %}
    <a class="login-details" href="{% url 'login' %}">Login</a>
    {% endif %}
</nav>